# load resources
[[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources

# keyboard layout
setxkbmap pt

# configure touchpad
if [[ $(hostname) == 'BGameiroArchDesktop' ]]; then
	xinput --map-to-output 'Meflas LGD AIT Touch Controller' DisplayPort1 &
fi